<h1 align="center">Modifier un produit</h1>

<form>
	<div class="form-group">
		<label for="nomProd">Nom</label> <input id="nomProd" type="text"
			class="form-control" placeholder="Nom" ng-model="prodForm.nom">
	</div>
	<div class="form-group">
		<label for="descriptionProd">Description</label>
		<textarea rows="3" id="descriptionProd" type="text"
			class="form-control" placeholder="Description"
			ng-model="prodForm.description"></textarea>
	</div>
	<div class="form-group">
		<label for="prixProduit">Prix</label> <input id="prixProduit"
			type="text" class="form-control" placeholder="Prix"
			ng-model="prodForm.prix">
	</div>
	<!-- 	<div class="form-group"> -->
	<!-- 		<label for="idCateg">ID catégorie</label> <input id="idCateg" type="number" -->
	<!-- 			class="form-control" placeholder="ID catégorie" ng-model="prodForm.categorie.id_categorie"> -->
	<!-- 	</div> -->
	<div class="form-group">
		<label for="idCateg">Catégorie</label> <select
			ng-model="prodForm.categorie.id_categorie">
			<option ng-repeat="categ in allCategories"
				value="{{categ.id_categorie}}">{{categ.nom}}</option>
		</select>
	</div>

	<button class="btn btn-primary" ng-click="modifierProd()">Modifier</button>
	<button type="reset" class="btn btn-danger">Annuler</button>
</form>