<h1>Liste des produits</h1>


	<div ng-switch on="typeUtilisateur">
		<div ng-switch-when="1">
			<div ng-include="'partials/menuClient.html'"></div>
		</div>
		<div ng-switch-when="2" ng-switch-when-separator="|">
			<div ng-include="'partials/menuGestionnaire.html'"></div>
		</div>
		<div ng-switch-when="3" ng-switch-when-separator="|">
			<div ng-include="'partials/menuFacture.html'"></div>
		</div>

	</div>




<table class="table">
	<tr>
		<th>Id du produit</th>
		<th>Nom du produit</th>
		<th>description du produit</th>
	</tr>
	<tr ng-repeat="produit in allProduits">
		<!-- filtre par l'intermédiaire de "|"-->
		<td>{{produit.id_client}}</td>
		<td>{{produit.nom}}</td>
		<td>{{produit.description}}</td>
	</tr>
</table>